/.idea/.gitignore
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/modules.xml
/.idea/NewKKMonitor.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/remote-mappings.xml
/.idea/vcs.xml
